<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Creation</title>
    <link rel="stylesheet" href="/stylesheets/createEvent.css">
</head>
<body>
    <div class="container">
        <h1 id="head">Event Creation</h1>
        
        <form id="eventForm" action="/createevent" method="post" >
            <label for="eventName">Event Name:</label>
            <input type="text" id="eventName" name="eventName" required>

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4"></textarea>

            <label for="ticketPrices">Ticket Prices:</label>
            <input type="number" id="ticketPrices" name="ticketPrices" placeholder="$" required>

            <label for="Availability">Availability:</label>
            <input type="number" id="Availability" name="Availability" required>

            <label for="refundPolicy">Refund Policy:</label>
            <input type="text" id="refundPolicy" name="refundPolicy" >

            <button id="Btn" type="submit">Add This Event</button>
            <a id="backBtn" href="/profile">Back</a>
        </form>
        <script src="/javascripts/createEvent.js">

        </script>
    </div>
