<!DOCTYPE html>
<html>



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Management Login</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
  <div class="background"></div>
  <div class="login-page" id="loginContainer">

    <div class="login-header">
      <h2>Welcome to <span>Event Management</span></h2>
      <h4>Register your account</h4>
    </div>

    <div class="form" id="form-container">
      <form class="login-form" action="/register" method="post">
        <div class="input-group">
          <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="input-group">
          <input type="email" name="email" placeholder="Email" required>
        </div>

        <div class="input-group">
          <input type="password" class="password" name="password" placeholder="Password" required>
        </div>

        <div class="input-group">
          <input type="text" name="fullname" placeholder="Fullname" required>
        </div>

        <button type="submit">Register</button>
        <div class="message">
            Have an account? <a href="/login">Sign in</a>
        </div>
        </form>
    </div>
    
  </div>
</body>
</html>